.chart-list-table {
	margin: 0 auto;
}

.chart-list-img {
	background-position: center center;
	background-size: cover;
	height: 200px;
	width: 200px;
}

.not-found {
	background-color: palevioletred;
}
